<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="shohoj_hisab"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- বাকি code এখানে থাকবে -->

    </application>

</manifest>
